
# Binaries
src/*.o
src/*.so

# The following are imported from chickenwire lib
src/chunker.h
src/csv.h
src/edge.h
src/filter_layer.h
src/graph.h
src/random_graph.h
src/random_walk.h
src/rcpp_graph_store.h
src/stepper.h
src/types.h
src/vertex.h
src/shortest_path.h
src/shortest_path.cpp
src/RcppExports.cpp
src/filter_layer.cpp
src/random_walk.cpp
src/degree_distribution.h
src/degree_distribution.cpp
src/weigh_edges.h
src/weigh_edges.cpp
src/connected_components.cpp
src/connected_components.h

# Built packages
*.tar.gz
*.rdata

# Results of running R CMD check on package
*.Rcheck

# Vim swapfiles
*.swo
*.swp


# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
